<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./content/intro.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./content/pagelinks.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./content/books.html") %>
        <%- include("./content/entries/book_links.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./content/podcasts.html") %>
      <%- include("./content/entries/podcast_links.html") %>
    </section>
    <hr class="wider-top-margin" />
    <section>
      <%- include("./content/tools.html") %>
        <% toolPaths.forEach(path=> { %>
          <%- include(path) %>
            <% }) %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>