<% layout("layouts/boilerplate") %>
  <article>
    <section>
      <%- include("./content/intro.html") %>
    </section>
    <hr />
    <section>
      <%- include("./content/pagelinks.html") %>
    </section>
    <hr />
    <section>
      <!-- Book resources intro -->
      <%- include("./content/books.html") %>
        <% bookPaths.forEach(path=> { %>
          <%- include(path) %>
            <% }) %>
    </section>
    <hr />
    <section>
      <!-- Podcast resources intro -->
      <%- include("./content/podcasts.html") %>
        <% podcastPaths.forEach(path=> { %>
          <%- include(path) %>
            <% }) %>
    </section>
    <hr />
    <section>
      <!-- Study tool resources intro -->
      <%- include("./content/tools.html") %>
        <% toolPaths.forEach(path=> { %>
          <%- include(path) %>
            <% }) %>
    </section>
  </article>
  <button type="button" id="btn-back-to-top">
    <!-- Back to top button -->
    个
  </button>
  <script src="/javascripts/toTopButton.js"></script>