<% layout("layouts/boilerplate") %>
  <div class="container body-main-column">
    <%- include("./content/intro.html") %>
      <hr />
  </div>
  <div class="container body-main-column">
    <%- include("./content/pagelinks.html") %>
      <hr />
  </div>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    个
  </button>

  <div class="container body-main-column">
    <!-- Book resources intro -->
    <%- include("./content/books.html") %>
      <% bookPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
            <hr />
  </div>

  <div class="container body-main-column">
    <!-- Podcast resources intro -->
    <%- include("./content/podcasts.html") %>
      <% podcastPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
            <hr />
  </div>

  <div class="container body-main-column">
    <!-- Study tool resources intro -->
    <%- include("./content/tools.html") %>
      <% toolPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
  </div>

  <script src="/javascripts/toTopButton.js"></script>