<% layout("layouts/boilerplate") %>
  <div class="container body-cols-medium-8">
    <%- include("./content/intro.html") %>
      <hr />
  </div>
  <div class="container body-cols-medium-8">
    <%- include("./content/pagelinks.html") %>
      <hr />
  </div>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    <i class="fas fa-arrow-up-long"></i>
  </button>

  <div class="container body-cols-medium-8">
    <!-- Book resources intro -->
    <%- include("./content/get_books.html") %>
      <% bookPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
            <hr />
  </div>

  <div class="container body-cols-medium-8">
    <!-- Podcast resources intro -->
    <%- include("./content/get_podcasts.html") %>
      <% podcastPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
            <hr />
  </div>

  <div class="container body-cols-medium-8">
    <!-- Study tool resources intro -->
    <%- include("./content/get_tools.html") %>
      <% toolPaths.forEach(path=> { %>
        <%- include(path) %>
          <% }) %>
  </div>

  <script src="/javascripts/flatPathWalk.js"></script>
  <script src="/javascripts/toTopButton.js"></script>