<% layout("layouts/boilerplate") %>
  <div class="container body-main-column">
    <%- include("./content/intro.html") %>
      <hr />
  </div>
  <div class="container body-main-column">
    <%- include("./content/essay.html") %>
      <hr />
  </div>
  <div class="container body-main-column">
    <%- include("./content/pagelinks.html") %>
      <hr />
  </div>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top">
    个
  </button>

  <% entryPaths.forEach(function(entryPath) { %>
    <!-- Dynamically load resources from "content/entries" -->
    <div class="container body-main-column">
      <%- include(entryPath) %>
        <hr />
    </div>
    <% }); %>

      <div class="container body-main-column">
        <%- include("./content/outro.html") %>
      </div>

      <script src="/javascripts/toTopButton.js"></script>